* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.news-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  margin-top: 200px;
  font-size: 12px;
}
